{% set language = {
  "pageName":"Account Balance",
  "lastUpdatedText":"Displayed below is the account balance correct for ",
  "buttonText": "To review your account and to make payments, please login to CyberBear at http://cyberbear.umt.edu/."
} %}
