{% set _config={
  "PUBLIC":{
    "storageKey":"aek2-test-project-key",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "moreInfoURL": "http://cyberbear.umt.edu/" 
  }
} %}
